*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}


ul li{
  list-style: none;
}


.topnav{
  height: 80px;
  width: 100%;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topnav_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 100%;
}

 .navLeft .logo{
   font-size: 1.5rem;
   color: rgb(0, 48, 145);
   font-weight: 700;
 }

.navRight .topnav_icon{
  display: flex;
}

.topnav_icon  .icon_container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 50%;
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.icon_container .icon{
  font-size: 1.5rem;
  color: #4a4b4a;
}
.icon_container .topbadge{
  position: absolute;
  top: -5px;
  right: 2px;
  background-color: rgb(194, 17, 17);
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.topAvatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

/* Sidebar CSS */

.container{
  display: flex;
}
.Home_main{
  flex: 4;
}
.sidebar{
  background-color: #eee;
  flex: 2;
  min-width: 200px;
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
}
.sidebarWrapper{
  padding: 20px;
  color: #555;
}

.sidebarMenu{
  margin-bottom: 10px;
}

.sidebarList{
  padding: 5px;
}

.sidebarList .active{
  background-color: rgb(221, 221, 221);
  width: 100%;
  border-radius: 0 10px 10px 0;
  padding: 5px;
}

.sidebarItem{
  margin-bottom: 15px;
}

.sidebar_icon{
  font-size: 1.15rem;
  margin-right: 10px;
}

.featured{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.featured_item{
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  background-color: #fafafa;
  border-radius: 7px;
  box-shadow: 0 0 0.6142857142857143rem #cccccc;
}

.featured_title{
  font-size: 20px;
  font-weight: 500;
}


.FeaturedMoneyContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.featureMoney,
.featureMoneyRate{
  font-size: 1.15rem;
  font-weight: 600;
  margin-right: 20px;
}

.featured_icon {
  font-size: 18px;
  color: rgb(13, 129, 13);
  margin-left: 7px;
}

.featured_icon.negative{
  color: rgb(242, 68, 33);
}

.sub_featured{
  color: #555;
}

/* Chart page CSS */
.chart{
  padding: 30px;
  box-shadow: 0 0 7px #ccc;
  border-radius: 7px;
  margin: 20px;
}

.homeWidget{
  display: flex;
  gap: 20px;
  margin: 0 20px;
  width: 100%;
}

.User_Table,
.Subscriber,
.WidgetSm{
  flex: 1;
  box-shadow: 0 0 7px #ccc;
  padding: 30px;
}
.widgetSmTitle{
  font-size: 1.75rem;
  font-weight: 600;
}

.widgetSmImg{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.widgetSmListItem{
  display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 20px 0;
}

.widgetSmUser{
  display: flex;
  flex-direction: column;
}

.widgetSmUsername{
  font-size: 1.35rem;
  font-weight: 600;
}
.widgetSmUserTitle{
  font-weight: 300;
}

.widgetSmBtn{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  color: #444;
  cursor: pointer;
}

.btnIcon{
  margin-right: 5px;

}
.UserTable,
.SubscriberTable{
  width: 100%;
  border-spacing: 20px;
}
.Userth,
.Subscriberth{
  text-align: left;
}

.UserList{
  flex: 4;
}

.User_Table .search{
  padding: 10px 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.User_Table .search:focus{
  outline: 1px solid rgba(40, 102, 99, 0.421);
}